__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
**/target/

data/
data_v0/
data_v0_*/
data_v34/
data_v34_*/
debug/
runs/
eval/
out_skin/
*.wsz
*.f32

!.gitkeep
!cranamp_cli/cranamp/assets/winamp.wsz
