__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
**/target/

data/
data_v0/
data_v0_*/
data_v34/
data_v34_*/
data_v35/
data_v35_*/
data_v4/
data_v4_*/
data_v6_*/
data_v7_*/
debug/
dist/
runs/
eval/
out_skin/
*.wsz
*.f32

!.gitkeep
!cranamp_cli/cranamp/assets/winamp.wsz
